# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables / secrets
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments (if you ever create one)
venv/
env/
.venv/

# Coverage
.coverage
htmlcov/

# Django migrations cache
*.pyc
